In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [4]:
b819=pd.read_csv('bowler/bowleravg819.csv')
d819=pd.read_csv('bowler/deathRuns0819.csv')
n819=pd.read_csv('bowler/NOBALLWIDEs.csv')
pif819=pd.read_csv('bowler/powerplay0819.csv')
w819=pd.read_csv('bowler/wick819.csv')

In [8]:
d819=d819.rename(columns={'over':'death_over'})
b819

                bowler  over  total_runs  avg_economy
0       A Ashish Reddy    45         400     8.888889
1           A Chandila    39         245     6.282051
2          A Choudhary    17         144     8.470588
3          A Dananjaya     4          48    12.000000
4           A Flintoff    11         106     9.636364
5             A Joseph     9          94    10.444444
6             A Kumble   163        1089     6.680982
7             A Mishra   519        3850     7.418112
8             A Mithun    48         477     9.937500
9              A Nehra   320        2537     7.928125
10               A Nel     3          31    10.333333
11               A Roy     2          14     7.000000
12             A Singh    90         769     8.544444
13           A Symonds    88         694     7.886364
14            A Uniyal     6          67    11.166667
15             A Zampa    37         281     7.594595
16           AA Chavan    42         339     8.071429
17     AA Jhunjhunwala    15         130     8.666667
18             AA Kazi     2          21    10.500000
19           AA Noffke     4          41    10.250000
20          AB Agarkar   131        1174     8.961832
21            AB Dinda   255        2103     8.247059
22         AB McDonald    31         263     8.483871
23        AC Gilchrist     1           0     0.000000
24           AC Thomas    53         416     7.849057
25            AC Voges     9          76     8.444444
26      AD Mascarenhas    52         365     7.019231
27          AD Mathews   133        1095     8.233083
28          AD Russell   175        1584     9.051429
29            AF Milne    18         185    10.277778
..                 ...   ...         ...          ...
375           TL Suman    25         198     7.920000
376         TM Dilshan    46         368     8.000000
377            TM Head     9          81     9.000000
378       TP Sudhindra    12         137    11.416667
379           TS Mills    18         157     8.722222
380       Tejas Baroka     4          33     8.250000
381           UT Yadav   416        3640     8.750000
382           Umar Gul    23         198     8.608696
383     V Chakravarthy     3          35    11.666667
384            V Kohli    43         371     8.627907
385     V Pratap Singh    34         300     8.823529
386           V Sehwag    23         236    10.260870
387          V Shankar    14         154    11.000000
388           VR Aaron   155        1392     8.980645
389          VRV Singh    60         549     9.150000
390           VS Malik    35         268     7.657143
391        VS Yeligati     5          61    12.200000
392          VY Mahesh    58         511     8.810345
393            WA Mota    12          98     8.166667
394         WD Parnell    97         731     7.536082
395         WPUJC Vaas    48         364     7.583333
396  Washington Sundar    59         467     7.915254
397   Y Gnaneswara Rao     1           7     7.000000
398            Y Nagar    11         125    11.363636
399    Y Venugopal Rao    36         338     9.388889
400         YA Abdulla    35         311     8.885714
401          YK Pathan   193        1443     7.476684
402          YS Chahal   301        2416     8.026578
403       Yuvraj Singh   146        1092     7.479452
404             Z Khan   371        2860     7.708895

[405 rows x 4 columns]